.conversation h1,h2 {
  text-align: center;
  font-weight:bolder; 
  font-size: 5.6rem;
  background: -webkit-linear-gradient(
    right,
    #f32170,
    #ff6b08,
    #cf23cf,
    #eedd44
  );
  line-height: 1.2;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



